.svg {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  margin-right: 5px;

}

.button {
  background-color: Transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/**
"height", "50");
mynd.setAttribute("width", "110")**/
