.player {

  &__video {

  }

  &__button {
    display: flex;
    background:url(./img/back.svg);
    max-width: 100%;
  }

  &__play {

  }

  &__pause {

  }

  &__fullscreen {

  }

  &__mute {

  }


}
