.text {
  color: #fff;

  &__videoTitle {
    width: auto;
    max-width: 83%;
    overflow: hidden;
    white-space: nowrap;
  }

  &__playerTitle {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
  }

  &__home {
    width: auto;
    margin: 0 auto;
    text-decoration: none;

    &:hover {
      cursor: url("./img/dab.png"), auto;
    }
  }

  &__categoryTitle {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
