.text {

color: #fff;


  &__videoTitle {
    overflow: hidden;
    white-space: nowrap;
    max-width: 83%;
    width:auto;
  }

  &__videoDate {

  }

  &__categoryTitle {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
